In [1]:
import pandas as pd
import numpy as np

In [2]:
#struktura Series
obj = pd.Series([4,11,-5,67])
obj

In [3]:
type(obj)

pandas.core.series.Series

In [4]:
npobj = obj.to_numpy()
npobj

In [5]:
type(npobj)

numpy.ndarray

In [6]:
seria = np.array([4,6,36,7,9,2])
pdser = pd.Series(seria)
pdser

In [7]:
type(pdser)

pandas.core.series.Series

In [8]:
pylist = [75,7.7,3.54,89,9,0.34]
pdlist = pd.Series(pylist, index=['a','b','c','x','y','z'])
pdlist

In [9]:
pdlist.values

In [10]:
pdlist.index

Index(['a', 'b', 'c', 'x', 'y', 'z'], dtype='object')

In [11]:
pdlist['x']

89.0

In [12]:
pdlist['y'] = 1022
pdlist

In [13]:
pdlist[['b','z','c']]

In [14]:
pdlist[pdlist>5.1]

In [15]:
pdlist*3

In [16]:
'a' in pdlist

True

In [17]:
'h' in pdlist

False

In [18]:
sdata = {'Warszawa':44678,'Kraków':45345,'Lublin':38667,'Gdańsk':38123}

In [21]:
city = pd.Series(sdata, name="miasta")
city

In [22]:
miasta = ["Poznań","Kraków","Rzeszów","Lublin"]
city2 = pd.Series(sdata,index=miasta)
city2

In [23]:
pd.isnull(city2)

In [24]:
city+city2

In [25]:
#druga sruktura - DataFrame

dataf= {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,2.93,0.85,0.88,0.91]
}

frame = pd.DataFrame(dataf)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,2.93
3,Kraków,2018,0.85
4,Kraków,2019,0.88
5,Kraków,2020,0.91

In [26]:
frame2 = pd.DataFrame(dataf,columns=['rok','miasto','populacja','współczynnik wagi'],
                      index = ['jeden','drugi','trzeci','czwarty','piąty','szósty'])
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,NaN
drugi,2018,Warszawa,2.75,NaN
trzeci,2019,Warszawa,2.93,NaN
czwarty,2018,Kraków,0.85,NaN
piąty,2019,Kraków,0.88,NaN
szósty,2020,Kraków,0.91,NaN

In [27]:
frame2['współczynnik wagi'] = 19.99
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,19.99
drugi,2018,Warszawa,2.75,19.99
trzeci,2019,Warszawa,2.93,19.99
czwarty,2018,Kraków,0.85,19.99
piąty,2019,Kraków,0.88,19.99
szósty,2020,Kraków,0.91,19.99

In [28]:
frame2['współczynnik wagi'] = np.array([15.6,17.8,1.16,2,55.43,118.9])
frame2

,rok,miasto,populacja,współczynnik wagi
jeden,2017,Warszawa,2.70,15.60
drugi,2018,Warszawa,2.75,17.80
trzeci,2019,Warszawa,2.93,1.16
czwarty,2018,Kraków,0.85,2.00
piąty,2019,Kraków,0.88,55.43
szósty,2020,Kraków,0.91,118.90

In [36]:
daty = pd.date_range("20241210",periods=6)
daty

DatetimeIndex(['2024-12-10', '2024-12-11', '2024-12-12', '2024-12-13',
               '2024-12-14', '2024-12-15'],
              dtype='datetime64[ns]', freq='D')

In [37]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2024-12-10,-0.869504,-0.174949,0.976264,-0.491163
2024-12-11,1.596959,0.330974,0.457702,0.220426
2024-12-12,-0.696056,-1.441601,0.288914,0.526864
2024-12-13,0.343523,0.303100,-0.182495,-0.659838
2024-12-14,0.241552,-0.238684,0.131423,-0.930395
2024-12-15,0.536752,2.996056,-0.011905,-0.012333

In [38]:
fr.head(2)

,A,B,C,D
2024-12-10,-0.869504,-0.174949,0.976264,-0.491163
2024-12-11,1.596959,0.330974,0.457702,0.220426

In [39]:
fr.tail(3)

,A,B,C,D
2024-12-13,0.343523,0.303100,-0.182495,-0.659838
2024-12-14,0.241552,-0.238684,0.131423,-0.930395
2024-12-15,0.536752,2.996056,-0.011905,-0.012333

In [40]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.192204,0.295816,0.276651,-0.224406
std,0.898177,1.470953,0.409282,0.559721
min,-0.869504,-1.441601,-0.182495,-0.930395
25%,-0.461654,-0.222750,0.023927,-0.617669
50%,0.292538,0.064075,0.210169,-0.251748
75%,0.488445,0.324005,0.415505,0.162236
max,1.596959,2.996056,0.976264,0.526864

In [41]:
fr.T

,2024-12-10,2024-12-11,2024-12-12,2024-12-13,2024-12-14,2024-12-15
A,-0.869504,1.596959,-0.696056,0.343523,0.241552,0.536752
B,-0.174949,0.330974,-1.441601,0.303100,-0.238684,2.996056
C,0.976264,0.457702,0.288914,-0.182495,0.131423,-0.011905
D,-0.491163,0.220426,0.526864,-0.659838,-0.930395,-0.012333

In [43]:
fr.sort_index(axis=0,ascending=False)

,A,B,C,D
2024-12-15,0.536752,2.996056,-0.011905,-0.012333
2024-12-14,0.241552,-0.238684,0.131423,-0.930395
2024-12-13,0.343523,0.303100,-0.182495,-0.659838
2024-12-12,-0.696056,-1.441601,0.288914,0.526864
2024-12-11,1.596959,0.330974,0.457702,0.220426
2024-12-10,-0.869504,-0.174949,0.976264,-0.491163

In [44]:
fr.sort_values(by='B',ascending=False)

,A,B,C,D
2024-12-15,0.536752,2.996056,-0.011905,-0.012333
2024-12-11,1.596959,0.330974,0.457702,0.220426
2024-12-13,0.343523,0.303100,-0.182495,-0.659838
2024-12-10,-0.869504,-0.174949,0.976264,-0.491163
2024-12-14,0.241552,-0.238684,0.131423,-0.930395
2024-12-12,-0.696056,-1.441601,0.288914,0.526864